# Docker / VM details
DOCKER_HOST_IP=127.0.0.1

# Jenkins
JENKINS_URL=http://localhost:8080
JENKINS_USER=your_jenkins_username
JENKINS_API_TOKEN=your_jenkins_api_token

# Prometheus
PROMETHEUS_URL=http://localhost:9090

# Grafana
GRAFANA_URL=http://localhost:3000

# Webhook (Slack / Discord / Teams)
WEBHOOK_URL=https://example-webhook-url

